build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & arch != "arm32" & arch != "x86_32"} 
    "@doc" {with-doc}
  ]
]
